.header {
  height: 244px;
  padding: 175px 0px 27px 0;
  background-color: rgb(19,19,38);
  background: linear-gradient(90deg, rgba(19,19,38,1) 0%, rgba(31,34,137,1) 15%, rgba(252,176,69,1) 72%, rgba(136,35,103,1) 86%);;
  padding-left: 242px;
  position: relative;
}

.headerContainer {
  width: 519px;
  display: flex;
  justify-content: space-between;
}

.fullName {
  color: rgba(242, 242, 242, 1);
  font-size: 28px;
  line-height: 31.22px;
  font-weight: 600;
}

.tgLink {
  color: rgba(189, 189, 189, 1);
  font-size: 10px;
  line-height: 11.15px;
}


.profileAvatar {
  position: absolute;
  left: 50px;
  bottom: -0;
  transform: translate(0, 50%);
}

.profileAvatarContainer {
  width: 144px;
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsBtn {
  button {
    padding: 9px 13.5px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 54px;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    line-height: 15.51px;    
    border: none;
  }
}