.header {
  background: linear-gradient(90deg, rgba(19,19,38,1) 0%, rgba(31,34,137,1) 15%, rgba(252,176,69,1) 72%, rgba(136,35,103,1) 86%);
  height: 244px;
}

.pageContainer {

}

.formContainer {
  flex-grow: 1;
  padding-left: 241px;
  background-color: rgb(238, 238, 238);
}