.line {
  display: flex;
  align-items: center;
}

.formTitle {
  margin-right: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}

.input {
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(7, 12, 66, 0.1);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &::placeholder {
    font-size: 14px;
    color: gray;
  }
}

.submitBtn {
  height: 40px;
  background-color: white;
  border: 1px solid rgba(7, 12, 66, 0.1);
  border-left: none;
  width: 35px;
  font-size: 25px;
  font-weight: 100;
  color: rgb(100, 197, 100);

  &:hover {
    color: rgb(44, 108, 44);
  }
}